.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    position: relative;
    padding: 30px;
    padding-top: 60px;
    color: rgb(14, 34, 61);
    width: 450px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toAuth {
    position: absolute;
    right: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.avatar {
    box-sizing: content-box;
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    z-index: 6;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}

.darkAvatar {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    opacity: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.saveImg {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    top: -7px;
    right: -7px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkAvatar:hover {
    opacity: 1;
}

.yourNameAndSurname {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.yourName,
.yourSurname {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0);
    width: 50%;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: copy;
}

.yourName:hover,
.yourSurname:hover {
    background: rgba(0, 0, 0, 0.2);
}

.yourInfo {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    cursor: copy;
}

.yourInfo:hover {
    background: rgba(0, 0, 0, 0.2);
}

.darkAvatar.is-active {
    opacity: 1; /* Adjust active state background color */
}

.file-msg {
	margin-left: 10px;
	color: #fff;
}

.file-input {
	display: none;
}